%%-*- mode: erlang -*-
{erl_opts, [debug_info]}.
{deps, [
        {fs, {git, "https://github.com/pedro-gutierrez/fs.git", {branch, "master"}}},
        {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.4.0"}}},
        {gun, {git, "https://github.com/ninenines/gun.git", {branch, "master"}}},
        {jsone, {git, "https://github.com/sile/jsone.git", {tag, "master"}}},
        {uuid, {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, "master"}}},
        {erlcloud, {git, "https://github.com/erlcloud/erlcloud.git", {branch, "master"}}},
        {trane, {git, "https://github.com/massemanet/trane.git", {branch, "master"}}},
        {yamerl, {git, "https://github.com/yakaz/yamerl.git", {branch, "master"}}},
        {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git", {branch, "master"}}},
        {color, {git, "https://github.com/julianduque/erlang-color.git", {branch, "master"}}},
        {kuberl, {git, "https://github.com/tsloughter/kuberl.git", {branch, "master"}}},
        {slacker, {git, "git://github.com/julienXX/slacker.git", {branch, "master"}}},
        {erlcron, {git, "https://github.com/pedro-gutierrez/erlcron.git", {branch, "master"}}},
        {iso8601, {git, "https://github.com/erlsci/iso8601.git", {tag, "1.3.1"}}},
        {jose, ".*", {git, "git://github.com/potatosalad/erlang-jose.git", {branch, "master"}}},
        {cbt, {git, "https://github.com/benoitc/cbt.git", {branch, "master"}}}
       ]}.

{relx, [{release, { cmnode, "0.1.0" },
         [
          ssl,
          inets,
          xmerl,
          jsone,
          color,
          fs,
          cbt,
          hackney,
          sh,
          trane,
          cowboy,
          gun,
          uuid,
          erlcloud,
          erlcron,
          yamerl,
          erlydtl,
          kuberl,
          slacker,
          iso8601,
          jose,
          cmkit,
          cmeffect,
          cmdb,
          cmconfig,
          cmqueue,
          cmtemplate,
          cmelementary,
          cmhtml,
          cmcss,
          cmcore,
          cmweb,
          cmnode,
          cmtest,
          cmcron,
          cmtask,
          cmtopic,
          sasl
         ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{overrides, [
             {del, [{erl_opts, [warnings_as_errors]}]},
             {override, plain_fsm, [
                                    {deps, [
                                            {edown, ".*", {git, "https://github.com/uwiger/edown.git", "HEAD"}}
                                           ]}
                                   ]}
            ]}.
