{erl_opts, [debug_info]}.
{deps, [
        {fs, {git, "https://github.com/pedro-gutierrez/fs.git", {branch, "master"}}},
        {cowboy, {git, "https://github.com/ninenines/cowboy", {branch, "master"}}},
        {gun, {git, "https://github.com/ninenines/gun.git", {branch, "master"}}},
        {jsone, {git, "https://github.com/sile/jsone.git", {tag, "v0.3.3"}}},
        {uuid, {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, "master"}}},
        {erlcloud, {git, "https://github.com/erlcloud/erlcloud.git", {branch, "master"}}},
        {trane, {git, "https://github.com/massemanet/trane.git", {branch, "master"}}},
        {eimp, {git, "https://github.com/pedro-gutierrez/eimp.git", {branch, "master"}}},
        {yamerl, {git, "https://github.com/yakaz/yamerl.git", {branch, "master"}}},
        {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git", {branch, "master"}}}
       ]}.

{relx, [{release, { cmnode, "0.1.0" },
         [
          inets,
          xmerl,
          jsone,
          p1_utils,
          fs,
          eimp,
          cowboy,
          gun,
          uuid,
          erlcloud,
          yamerl,
          erlydtl,
          cmkit,
          cmconfig,
          cmdb,
          cmtemplate,
          cmscheme,
          cmsession,
          cmeffect,
          cmcore,
          cmweb,
          cmnode,
          cmtest,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
