.columns { margin-right: 0 !important; }
#sidebar { width: 100px; min-width: 100px; padding-top: 15px; }
.landing { height: 100% }
.off-canvas { height: 100% !important; }
.off-canvas-content { padding: 1.2rem .8rem .4rem 4.8rem !important; }
.off-canvas-overlay { display: none; }
.sidebar-icon { margin-top: 20px; font-size: 8px; text-transform: uppercase; font-weight: 600 }
html, body { margin:0; padding:0; height:100%; }
body > div { height: 100% }
h2.content-view { text-transform: uppercase; }
section.section-view { 
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 0;
    border: 1px solid #ededed;
}

table {
    width: 100%;
    border-collapse: collapse;
    vertical-align: top;
    white-space: nowrap;
}

thead th {
    text-align: left;
    white-space: nowrap;
}


tbody tr td {
    font-weight: inherit;
    vertical-align: middle;
}

.mb-6 { margin-bottom: 6px; }
.mt-4 { margin-top: .8rem; }
.section-view { margin-bottom: 15px; }

.btn-label {
    padding: .35rem .4rem !important;
}

div.landing, div.admin-content {
    overflow-y: auto;
}

.code code {
    background: transparent;
}

/* .landing .btn.btn-primary, .admin-content .btn.btn-primary, .admin-content .label-primary {
    background: white;
    border-color: #ededed;
    color: #50596b;
}*/

.tag {
    text-transform: uppercase;
    font-size: 14px;
}

.links a {
    display: block;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-10 {
    padding-top: 10px;
}

.header-buttons button, .header-buttons a {
    margin-left: .4rem;
}

.header-buttons a, a.link {
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    white-space: nowrap;
    font-size: 12px;
   /*  color: #b8bbbc;*/
    margin-left: 15px;
}


.header-buttons a:hover {
    text-decoration: underline !important;
}

.tab a:hover {
    text-decoration: none !important;
}

div.card {
    border: 1px solid #ededed;
 /*   padding-bottom: 15px;
    padding-left: 15px; */
}

div.card.inspector-panel {
    border: 1px solid #ededed;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.inspector-panel h6, h6.panel-title {
    padding: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    font-size: 12px;
    color: #b8bbbc;
    font-weight: bold;
}

.stats-metric {
    text-align: center;
    font-size: 48px;
}

.tests-in-progress {
    padding-left: 8px;
    padding-right: 8px
}

.report-stats-metric { padding-top: 20px; }
.margin-auto { margin: 0 auto; }
.size-16-16 { height: 16px; width: 16px; }
.size-12-12 { height: 12px; width: 12px; }
.pb-0 { padding-bottom: 0px !important; }
.v-top { vertical-align: top !important; }
a.link:hover { text-decoration: underline; }
.settings { text-transform: uppercase; font-size: 12px; }
input {
    border-color: #ededed !important;
}

td, th { padding-top: 5px; padding-bottom: 5px; }


div.landing.dark {
    background-color: rgb(26, 26, 26);
}

.dark .card {
    background-color: rgb(16, 16, 16);
    color: white;
    padding: 30px;
    border-color: rgba(73, 73, 73, 0.368627);
    display: block;
    border-radius: 0px;
}

.dark .form-input {
    border: .05rem solid #545559;
    color: white;
    background: rgba(40, 40, 40, 0.05);
}

.dark input {
    border: .05rem solid rgba(48, 49, 51, 0.52) !important;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 43px;
    padding-top: 0px;
    border-radius: 6px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top: 10px;
}

.dark button.btn.btn-primary, .dark label.btn.btn-primary {
    margin-top: 8px;
    color: white;
    ;border-radius: 4px;
    background: #0070c9;
    background-image: linear-gradient(rgb(66, 161, 236), rgb(0, 112, 201));
    border-color: rgb(0, 119, 204);
}

.dark button.btn.btn-primary:hover {
    background-color: #147bcd;
    background: linear-gradient(#51a9ee, #147bcd);
    border-color: #1482d0;
}


.dark button.btn.btn-error, .dark label.btn.btn-error {
    margin-top: 8px;
    color: white;
    border-radius: 4px;
    background: linear-gradient(rgba(211, 36, 38, 0.96), #8a1116);
    border-color: #8a1116;
}

.dark button.btn.btn-error:hover {
    background: linear-gradient(rgba(221, 38, 40, 0.96), #aa151b);
    border-color: #aa151b;
}





.dark a.link, .dark .tab i {
    color: #3e3f3f;
    text-transform: none;
}


a { background-color: transparent !important
    -webkit-tap-highlight-color: transparent;
}

body, .dark, .dark input, .dark button, .dark a, .dark textarea {
    font-family: "SF Display" !important;
    font-weight: 300;
    letter-spacing: 0.05rem;
    font-size: 18px;
    color: rgb(204, 204, 204);
}


a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;                
  -webkit-touch-callout: none;              
  -webkit-tap-highlight-color: transparent; 
}



a:focus {
  outline: 0; // Firefox (remove border on link click)
}


a:hover, .dark a.link:hover, .dark i.active {
    color: rgb(102, 187, 255) !important;
}


.dark .card-body a {
    display: block;
    margin-left: 0;
}

body {
    background-color: rgb(26, 26, 26);
}

.dark #sidebar {
    background-color: rgb(26, 26, 26);
   /*  background-color: #101010; 
    border-right: 1px solid rgba(55, 55, 55, 0.58); */
}

.dark i, .dark .sidebar-icon div {
    color: rgb(102, 102, 102);
}

.dark .sidebar-icon:hover  {
    color: rgb(102, 187, 255) !important;
}

.off-canvas-content {
    background-color: rgb(26, 26, 26);
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
    color: white;
}

.off-canvas-content .card {
  /*   background-color: rgba(16, 16, 16, 0.19); */
  /*  background-color: rgba(31, 31, 31, 0.76);*/
  /* border-radius: 8px; */
    background-color: rgba(16, 16, 16);
    border-color: rgba(73, 73, 73, 0.37);
}

.dark .table-item-info {
    margin-left: 7px;
    font-size: 15px;
    color: rgb(102, 102, 102);
}

.dark .text-secondary {
    color: rgb(102, 102, 102) !important;
}

.dark .accordion .accordion-header {
    padding: 0 !important;
}

.dark .bar {
    background: rgb(31, 31, 31) !important;
}

.dark .bar-item {
    background: #0070c9 !important;
}

/* .dark .columns {
    margin-left: 0 !important;
    margin-right: 0 !important;
}*/

.dark .label-rounded {
    text-transform: uppercase;
    font-size: 15px;
    border: 1px solid;
    background: transparent;
    color: rgb(102, 102, 102);
}

div.mapboxgl-ctrl {
    display: none !important;
}

.dark .mapboxgl-map {
    border: 3px solid rgb(20, 20, 20);
}

.dark ul.tab {
    border-bottom: 0 !important;
}

.dark .tab-item.active a {
    border-bottom: 0 !important;
    color: rgb(102, 187, 255) !important;
}

.dark .tab-item {
    top: 4px;
    margin-bottom: 0px;
    position: relative;
    padding-left: 14px;
    padding-right: 5px;
}

.dark .tab-item.active {
    /* background-color: rgba(20, 20, 20, 1); */
    background-color: rgb(16, 16, 16);
    border-bottom: 2px solid rgb(16, 16, 16) !important;
    border-top: 1px solid rgba(73, 73, 73, 0.37) !important;
    border-left: 1px solid rgba(73, 73, 73, 0.37) !important;
    border-right: 1px solid rgba(73, 73, 73, 0.37) !important;
    z-index: 10;
    border-radius: 3px 3px 0px 0px;
}

.cover-image {
    height: 270px; 
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
}

.cover-image-caption {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    margin-bottom: auto;
    z-index: 60;
    padding: 1.5em;
}

.dark .cover-image-caption {
    background-color: rgba(0, 0, 0, 0.44);
}

.dark .avatar {
    background-color: rgb(26, 26, 26);
}

.dark #menu .avatar {
    background-color: rgb(16, 16, 16);
}

.avatar {
    text-align: center;
    padding-top: 9px;
    padding-left: 2px;
    font-size: .7rem;
}

.avatar[data-initial]::before {
    position: relative;
    transform: none;
    left: 0;
    top: 0;
}

.avatar-xl[data-initial]::before {
    top: 4px;
}

.dark .avatar-presence {
    border: 1px solid white;
    box-shadow: none;
}

.review-item-view:hover {
    cursor: pointer;
    background-color: rgb(26, 26, 26);
}

.dark i.primary {
    color: white;
}

.dark .tooltip::after {
    font-size: 12px;
    font-weight: 600;
    font-family: "SF Display";
}

.dark .carousel {
    background-color: transparent;
}

.dark .floating-panel {
    padding: 20px; background-color: rgb(26, 26, 26);
}

.dark .floating-panel .avatar {
    background-color: rgba(43, 43, 43, 1);
}

*:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.json ul {
  list-style-type: none;
  margin: .0rem 0 .0rem .8rem;
}
.json .separator {
    margin-right: 4px;
}

.json .list li.item:before {
    content: "-";
    float: left;
}

.json-view pre, .json-view code {
    max-height: 300px;
    height: 300px;
    overflow-y: scroll;
}
